build/
*egg*
ros/build/
ros/devel/
DATA/
*.blend*
lfnet/
Experiments/
debug/
src/ThirdParty/bad_slam
src/ThirdParty/dynamic_fusion
src/ThirdParty/libvis
src/ThirdParty/surfel_meshing
**/build/
*.lib
*.a
*.so
src/ThirdParty/BundleFusion/mLibExternal/
*.zip
*.tar.gz
**__pycache__**
Features/
debug (copy)/
debug_exp9/
lf-net-release/release
*.pth.tar
masks/
*.tar.gz
*.pth
!SwiftNet/swiftnet_resnet18_old.pth